body {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: none;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container {
	background-color: #666;
	border: 10px solid #333;
	width: 600px;
	margin: auto;
	color: #ffffff;
	padding: 60px;
	border-radius: 20%;
}
#header {
	font-size: 35px;
	color: light;
}

h2 {
	width: 280px;
	margin: auto;
	background-color: none;
	font-size: 70px;
	border-radius: 0%;
}

#wordDisplay {
	width: 200px;
	height: 50px;
	background-color: none;
	font-size: 70px;
	border-radius: 15px;
}

#counter {
	width: 200px;
	height: 50px;
	margin-top: 50px;
	background-color: none;
	border-radius: 15px;
}

p {
	margin: 0;
	font-size: 30px;
}

#previousGuesses {
	width: 200px;
	height: 50px;
	background-color: none;
	border-radius: 15px;
}

#input {
	width: 80px;
}

ul {
	list-style: none;
	margin-left: -15px;
}

#guess, #guessedWords {
	margin-top: 50px;
}
